<html>
<head>
  <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
</head>
<body>
  <h1>HYLDA Monitor</h1>
  <div class="ui buttons">
    <button class="ui teal button">Validation</button>
    <div class="or"></div>
    <button class="ui blue button">Ad Suggestion</button>
  </div>
</body>
</html>