<html>
<head>
  <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
</head>
<body>
  <div id="monitor" />
</body>
<script src="/socket.io/socket.io.js"></script>
<script src='http://localhost:6789/assets/bundle.js'></script>
</html>